{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date_from</th>
                <th>Date_to</th>
                <th>Capacity</th>
                <th>Is_active</th>
                <th>User_list</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date_from ? event.date_from|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.date_to ? event.date_to|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.is_active ? 'Yes' : 'No' }}</td>
                <td>{{ event.user_list }}</td>
                <td>{{ event.notes }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}